[submodule "assemblyPlanner/assemblyPlanner/Test/Lib/uWebSockets"]
	path = assemblyPlanner/assemblyPlanner/Test/Lib/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "assemblyPlanner/Lib/uWebSockets"]
	path = assemblyPlanner/Lib/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
